<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IncluirProjeto</servlet-name>
        <servlet-class>servlet.IncluirProjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProjeto</servlet-name>
        <servlet-class>servlet.EditarProjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProjeto</servlet-name>
        <servlet-class>servlet.ExcluirProjeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirBanca</servlet-name>
        <servlet-class>servlet.IncluirBanca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirBanca</servlet-name>
        <servlet-class>servlet.ExcluirBanca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IncluirProjeto</servlet-name>
        <url-pattern>/IncluirProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProjeto</servlet-name>
        <url-pattern>/EditarProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProjeto</servlet-name>
        <url-pattern>/ExcluirProjeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirBanca</servlet-name>
        <url-pattern>/IncluirBanca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirBanca</servlet-name>
        <url-pattern>/ExcluirBanca</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
